* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  height: 25rem;
  position: relative;
  height: 100%;
  border-right: 1px solid #e5e5e5; 
}

.sidebar{
  width: 23.125rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  align-items: center;
  background-color:#C0C0C0;
  width: 8.75rem;
  border-bottom-right-radius: 0.625rem;  
  border-bottom-left-radius: 0.625rem;
  padding: 1.25rem 0.625rem;
}

.nav::before {
  content: '';
  height: 10rem;
  width: 8.75rem;
  background-color: #C0C0C0;
}

.navbar {
  display: none;
  flex-direction: column;
  gap: 0.9375rem;
  align-items: center;
  background-color: #C0C0C0;
  width: 8.75rem;
  border-bottom-right-radius: 0.625rem;  
  border-bottom-left-radius: 0.625rem;
  padding: 1.25rem 0.625rem;
}

.navbar::before {
  content: '';
  height: 10rem;
  width: 8.75rem;
  background-color: #C0C0C0;
}

.nav_link {
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  font-weight: 550;

}

.nav_link:hover {
  color:  #e5e5e5;
  text-decoration: underline;
}

.my_photo{ 
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid #C0C0C0;
  position: absolute;
  z-index: 1;
}

.darkBG {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.my_image_preview {
  height: 90vh;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.upper_body {
  display: flex;
}

.main {
  padding: 1.25rem 1.25rem 6.25rem 1.25rem;
  height: 100%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 3.75rem;
  background-color: #E5E5E5;
  padding: 0.625rem;
}

.page_content {
 position: relative;
 width: 100%;
 height: 100vh;
 background-color: #f6fff8;
 overflow-y: scroll;
 overflow-x: hidden;
}

.footer_info {
  color: #333;
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer_info_icon {
  height: 0.9375rem;
}

.footer_info_link {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.footer_info_link:hover {
  color: #999999;
  text-decoration: underline;
}

body {
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #C0C0C0; 
}


/* main page */

.header {
  border-bottom: 1px solid #333;
  width: 100%;
  color: #333;
}

.main {
  width: 100%;
}

.about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9375rem;
}

.about_me__title {
  border-bottom: 1px solid #999;
  width: 50%;
  text-align: center;
  padding-bottom: 0.625rem;
  margin: 0;
  color: #333;
}

.about_me_text {
  color: #333;
  font-size: 0.9375rem;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9375rem;
}

.language {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.language_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.625rem;
  align-items: center;
}

.language_line {
  width: 100%;
  height: 2px;
  background-color: #333;
  border-radius: 1px;
}

.language_fill_100 {
  width: 100%;
  height: 2px;
  background-color: #FFD700;
  border-radius: 1px;
}

.language_fill_90 {
  width: 90%;
  height: 2px;
  background-color: #FFD700;
  border-radius: 1px;
}

.language_fill_10 {
  width: 10%;
  height: 2px;
  background-color: #FFD700;
  border-radius: 1px;
}

.language_name {
  color: #333;
  font-size: 0.9375rem;
  font-weight: 500;
}

.lanuage_level {
  color: #959595;
  font-size: 0.875rem;
}

.main_content {
  padding: 1.6rem 6.25rem 1.6rem 3.125rem;
}

.education {
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
}

.education_card {
  border: 1px solid #C0C0C0;
  display: flex;
  padding: 0.625rem;
  gap: 0.625rem;

}

.education_img {
  width: 6.25rem;
  height: 6.25rem;
}

.education_info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  color: #333;
}

.education_name {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #333;
}

.education_desc {
  font-size: 0.8125rem;
  color: #333;
  margin: 0;
}

.education_grid {
  display: grid;
  width: calc(100% - 5rem);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.25rem;
}

@media screen and (max-width: 768px) {
  .education_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.experience_card {
  width: calc(100% - 5rem);
  border: 1px solid #C0C0C0;
  display: flex;
  flex-direction: column;
  padding: 0.8125rem 1.25rem;
  gap: 0.625rem;
}

.experience_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience_position {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #333;
  margin: 0;
  line-height: 1.25rem;
  font-weight: 600;
}

.experience_dates {
  font-size: 0.8125rem;
  color: #333;
  margin: 0;
  line-height:1rem;
  font-style: italic;
}

.experience_company {
  display: block;
  font-size: 0.9375rem;
  font-weight: 500;
  color: #333;
  margin: 0;
  line-height: 1.25rem;
  font-style: italic;
  cursor: pointer;
  width: fit-content;
}

.experience_company:hover{
  text-decoration: underline;
}

.experience_jobs {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  justify-content: flex-start;
  font-size: 0.8125rem;
  color: #333;
  margin: 0;
  line-height:1rem;
}


/* certificates page */

.certificates {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.6rem 6.25rem 3.125rem 1.6rem;
  align-items: center;
}

.certificate {
  max-width: 32rem;
  cursor: pointer;
  border: 5px solid #C0C0C0;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.certificate img {
  object-fit: scale-down;
  width: 100%; 
  height: auto; 
}

/* skills page */

.skills {
  width: 100%;
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}

.skills_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-gap: 0.625rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav_toggle {
  display: none;
}

.skills_list_item {
  background-color: #e5e5e5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.625rem;
  text-align: center;
  font-size: 0.8125rem;
}

@media (max-width: 699px) {
  .navigation {
    display: none;
    padding: 0;
    border: none !important;
  }

  .sidebar {
    max-width: fit-content;
    position: absolute;
    z-index: 1;
    background: #f6fff8;
  }

  .footer_info:first-child {
    display: none;
  }

  .main_content {
    padding: 1.6rem;
  }

  .certificates {
    padding: 1.6rem;
  }

}

@media (min-width: 700px) {
  .menu-button {
    display: none;
  }
}

.menu-button {
  background-color: #ffffff;
  width: 6.25rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  color: #333333;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.menu-button:hover {
  background-color: #333333;
  color: #ffffff;
}